<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="modules_blog_post_save_before">
        <observer name="NewPostObserver" instance="Modules\Blog\Observer\NewPostObserver"/>
    </event>
</config>